.secret_message{
	border: none;
	border-radius: 1rem;
	margin: auto;
	width: 50%;
	padding: 2rem;
	background-color: var(--background);
}

.secret_message__content{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-self: center;
	align-items: center;
}

.secret_message__title{
	text-align: center;
}

.secret_message__icon{
	color: var(--primary-color);
	font-size: 8rem;
	animation: move 1s infinite ease-in-out;
}

.secret_message__button{
	width: 100%;
}

@keyframes move{
	0%{
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(45deg);
	}
}