.input_box{
	cursor: pointer;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	background-color: var(--background-card);
	border-radius: .25rem;
	overflow: hidden;
}

.input_box > :not(textarea) + .input_box{
	min-height: 3rem;
}

.input_box > textarea{
	resize: none;
}