.nav__list__item {
	margin: 0 1rem 0 1rem;
	text-align: center;
}

.nav__list__item:first-child, .nav__list__item:last-child {
	margin: 0;
}

.header .nav__list__item:last-child {
	font-weight: bold;
}

@media (max-width: 1000px){
	.header .nav__list__item:not(:last-child){
		display: none;
	}
}